<head>
    <title> Home </title>
</head>

<body><h1>Working...</h1>
  <form id="land" method="post" action="/home">
  <input type="text" name="uname" placeholder="Name">
  <input type="password" name="upass" placeholder="Password">
  <input type="submit" value="Sign UP">
  </form> 
</body>
